<div class="pokes-new">

    <div id="pokes-new-title"> Select your starter</div>

    <div class="pokes-new-text">
        <%= form_for(@poke) do |f|%>
        <%=f.collection_select(:species_id, @starters, :id, :name)%>
        <%=f.submit "Choose Pokemon"%>
        <%end%>
    </div>

</div>