<H2>All Areas</H2>

<div id="area_banner">
<%= image_tag 'https://i.imgur.com/yugrgd7.jpg', size: "1800x400" %>
</div>
<br>
<h4>Where would you like to go?</h4>
<ul>
    <% @areas.each do |area| %>
        <li>
            <%= link_to area.name, area_path(area) %>
        </li>
    <% end %>
</ul>