// Place all the styles related to the Species controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.species-sprite {
    float: right;
    padding-top: 2%;
    margin-right: 20%;
}

#species-text {
    float: left;
    margin-top: 10%;
    margin-left: 10%;
    
}

#species-name {
    font-size: 7rem;
    color: rgb(67, 200, 233);
    text-shadow: -3px 0 black, 0 3px black, 1px 0 black, 0 -1px black;
}

#species-type {
    padding: 100px;
    font-size: 3rem;
    color: rgb(0, 0, 0);
    text-shadow: -3px 0 rgb(67, 189, 226), 0 3px rgb(67, 189, 226), 1px 0 rgb(67, 189, 226), 0 -1px rgb(67, 189, 226);
}

.species-battle-options {
    bottom: 0;
    position: fixed; 
    margin-left: 48%;
    margin-bottom: 55px;
}

.battle-text {
    font-size: 4rem;
    float: right;
    margin-top: 50px;
    margin-left: 10px;
    color: rgb(233, 128, 67);
    text-shadow: -3px 0 black, 0 3px black, 1px 0 black, 0 -1px black;
}

#already-owned {
    font-size: 6rem;
    margin-left: -500px;
    color: rgb(216, 74, 74);
    text-shadow: -3px 0 black, 0 3px black, 1px 0 black, 0 -1px black;
    margin-bottom: 60px;
}