// Place all the styles related to the Species controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.species-sprite {
    float: right;
    padding-top: 5%;
    margin-right: 20%;
}

#species-text {
    float: left;
    margin-top: 10%;
    margin-left: 10%;
}

