// Place all the styles related to the Trainers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 1.5rem;
}

.pokemon_display {
    color: rgb(12, 25, 97);
    background-color: rgba(115, 194, 246, 0.931);
    border: 5px outset rgb(0, 0, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 8px;
    padding-right: 200px;
    padding-top: 19px;
    padding-bottom: 19px;
}

.pitcher {
    vertical-align: -19px;
}

.pitcher_text {
    position: absolute;
    font-size: 18px;
}

.pitcher_check_box {
    vertical-align: -11px;
}

.party_disclaimer {
    padding-left: 65px;
}

.profile {
    display: inline;
}

#trainer_name {
    font-size: 3.5rem;
}

#trainer_display {
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;

}
#explore_button {
    float: right;
    margin-top: -220px;
    
}

#area_banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

