<div class="new-trainer">
    <span class="menu_buttons"><%= link_to "Login", login_path, class: "ui basic large black button"%></span>
    <div id="home-title">PokeSim</div>
    <h4>Simulate the experience of catching them all</h4>
    <div class="home-page-text">
        <p>To play PokeSim navigate to different areas to collect different pokemon.</p>
        <p>Click on links to jump around the map and try catching pokemon before they run.
        Some pokemon are rarer than others so try to collect them all.</p>
    </div>
    <br>
    <br>
    <br>
    <%= image_tag 'https://i.imgur.com/H1pjAVF.jpg', class: "home-pic" %>
    <br>

    <br>
    <br>
    <div id="begin-journey-button"><%= link_to "Begin New Journey", new_trainer_path, class: "ui white massive button"%></div>
</div>