<h1>
PokeSim
<%= button_to "Login", login_path, method: "get"%>
</h1>
<h4>Simulate the experience of catching them all</h4>
To play PokeSim navigate to different areas to collect different pokemon.
<br>
click on links to jump around the map and try catching pokemon before they run.
<br>
some pokemon are rarer than others so try to collect them all.
<br>
<br>
<br>
<%= image_tag 'https://i.imgur.com/H1pjAVF.jpg' %>
<br>

<br>
<br>
<%= button_to "Begin New Journey", new_trainer_path, method: "get"%>