<%= image_tag 'https://i.imgur.com/OQavlR3.png', size: "200x200" %>

<p>Oak : Hello there! Welcome to the world of POKEMON! My name is OAK! People call me the POKEMON PROF!</p>
<p>This world is inhabited by creatures called POKEMON! For some people, POKEMON are pets. Others use them for fights. </p>
<p>Myself...I study POKEMON as a profession. First, what is your name? </p>
<%= form_for(@trainer) do |f|%>
<%= f.text_field :name%>
<br>
<br>
<%= f.submit "Next"%>
<%end%>
